/* { box-sizing: border-box; }*/
html {min-height: 100%; }
body {margin:0; padding:0; font-size: 90%; font-family: arial, sans-serif; background: radial-gradient(circle at center 200px, #444 40%, #000 100%); }
main, header { box-sizing: border-box; }
main {width: 64rem; background-color:#fff; border-radius: 1.4rem; padding: 0; margin: 1rem auto; }
header {width: 100%; background-color:#d60; color:white; padding:1rem 2rem; margin-bottom:1.5rem; margin-top:1.5rem; }
header h1, header h2 {width: 64rem; text-align: left; margin: .1rem auto; }
header h1 { font-size: 3em; }
header h2 { font-size: 1.8em; }
h3 {margin: 0 0 .25rem 0; padding: .6rem 3rem; font-size: 1.6em; text-align: center; background-color: #669; color: white; text-transform: uppercase; border-top-left-radius: 1.4rem; border-top-right-radius: 1.4rem; }
h4 {font-size: 1.2em; margin:0 0 1rem 0; padding: .5rem 2rem; background-color: #ddd; color:#000; text-align: left;}
legend { font-size: 1.2em; font-weight: bold; background-color: #669; color: white; border-radius: .2em; padding: 0 .4em .1em; }
label { font-weight: bold; display: inline-block; }
input, select { background-color: white; }
li ul {line-height: 1.2em; }
li ul li {margin-bottom: .2rem; }
li {margin-bottom: .75em; }
pre {background-color: #eee; border: 1px solid #333; padding: .3rem; font-size: 1rem; }
.heading {padding: 0; margin:0; }
.container { box-sizing: border-box; width: 100%; padding: 0 3rem 1rem 3rem; background-color: #fff; margin-top:0rem; }
div.instructionsContainer { box-sizing: border-box; width: 100%; padding: 0 3rem 0 3rem; background-color: #fff; margin: 1rem 0; }
.column:first-child {margin: 0 0 0 .65rem; }
.column {padding:.5rem 0; margin: 0; display: flex; justify-content: flex-start; align-content: flex-start; align-items: flex-start; gap: .4rem;}
.column.apply { width: 15rem; margin: 0; }
.column.version { text-align: center; display: flex; flex-flow: column nowrap; justify-content: center; align-content: center; align-items: center; gap: .1rem; align-self: flex-start;}
.column.version div { padding: 0; margin: 0; display: flex; justify-content: flex-start; align-content: center; align-items: center; gap: .4rem; }
.column.version p { font-size: .8rem; margin:0; padding:0; }
.row {display: flex; justify-content: flex-start; padding: .2rem 1.5rem; gap: 1rem; }
.button { padding: 1rem; margin: .5rem 1rem .5rem 0; border-radius: .4rem; }
.smallBtn { font-weight: bold; border: 1px inset #000; border-radius: .3em; padding: 3px 6px; background-color: #acf; }
.smallBtn span { font-size: 1.1rem; font-weight: bold; }
.regularRow { box-sizing: content-box; margin: .5rem 0 0; padding: 1rem 1rem .5rem 1rem; }
.regularRow p {padding: 0 2rem; line-height: 1.3em; margin: 0;}
.instructionsRow {padding: 0; border: 1px dotted #555;}
.instructionsRow ul {width: 90%;}

#textVal { box-sizing: border-box; display: block; padding: .5rem; width: 100%; }
#entriesContainer {padding: 0; border-radius: 2rem; }
#tableRow{padding: 0 3rem;}
#rawForm { box-sizing: border-box;}
#rawForm label { display: block; font-size: 1.1em; margin-bottom: .5em;}
#globalControls, #settingsRow { background-color: #eee; border: 1px solid #999; margin: .6rem 3rem; border-radius: .5em; }
#globalControls p {display: inline-block; vertical-align: text-bottom; font-weight: bold; margin: 0; padding:0; line-height: .75em; }
#selOpts {text-align: center; }
#selOpts p {display: block; font-weight: bold; margin: 0; padding:.2em 0 0 ; line-height: 1.2em; }
#selOpts button { display: inline-block; border: 1px solid rgba(255, 255, 255, 0); border-radius: .4em;background-color: rgba(255, 255, 255, 0); text-decoration: underline; }
#selOpts button:hover { background-color: #669; color: white; }
#versionNumber { width: 3em; }
#jsonControls button { padding: 1rem; margin: .5rem 1rem .5rem 0; }
#jsonControls { margin-left: 2rem; }

.radialGreen {border: none; border-radius: .4rem; color: white; font-weight:bold; background: radial-gradient(ellipse 100% 100% at 50% 100%, #3c3, 50%, #262);}
.radialGreen:hover {background: radial-gradient(ellipse 100% 100% at 50% 100%, #3c3, 80%, #262);}
.radialRed {border: none; border-radius: .4rem; color: white; font-weight:bold; background: radial-gradient(ellipse 100% 100% at 50% 100%, #d60, 50%, #930);}
.radialRed:hover {background: radial-gradient(ellipse 100% 100% at 50% 100%, #d60, 80%, #930);}

.radialOrange {border-radius: .4rem; color: white; font-weight:bold; background: radial-gradient(ellipse 100% 100% at 50% 100%, #c30, 50%, #620);}
.radialOrange:hover {background: radial-gradient(ellipse 100% 100% at 50% 100%, #3c3, 80%, #262);}
.radialPurple { border-radius: .4rem; color: white; font-weight:bold; background: radial-gradient(ellipse 100% 100% at 50% 100%, #d60, 50%, #930);}
.radialPurple:hover {background: radial-gradient(ellipse 100% 100% at 50% 100%, #d60, 80%, #930);}
  


table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  width: 100%;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 3px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

tr:hover td {
  background-color: rgb(230, 230, 255);
}

caption {
  padding: 10px;
}

